/* bingo CSS */
.board-border1 {
  margin: 15px;
  background: #a8c0ff;
  background: linear-gradient(to bottom, #222154, #525da2);
  border-radius: 5px;
  padding-top: 15px;
}
.select-card {
  position: relative;
  background: rgb(47, 10, 47);
  position: relative;
  height: 800px;
}
.pat-active {
  background: linear-gradient(to top, #8a001c, #fc0033);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  /* padding: 5px; */
  height: 34px;
  border: 2px solid #e7cf18;
  line-height: 30px;
}
.card-bingo {
  /* padding: 3% 8%;
  margin: 1% 5%;
  background: linear-gradient(to bottom, #7d19bb, #3e143e);
  border-top: 8px #8e468e solid; */
  border-radius: 0px 0px 10px 10px;
}
/* linear-gradient(to top, rgb(110, 0, 228), rgb(127, 14, 240); */

.card-bingo h1 {
  color: #f9d423;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 20px;
}
.title {
  color: white;
  font-weight: 800;
  border: 2px solid #515ba0;
  text-align: center;
  border-radius: 10px 10px 0px 0px !important;
  background: #2f0a2f;
}
.disable {
  background: #464f8f;
  cursor: default;
}

.title h5 {
  font-weight: 700;
}

.btn-title {
  color: white;
  font-weight: 800;
  border: 2px solid #515ba0;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(to bottom, #363480, #4b0e60);
  margin-top: 3%;
}

.btn:hover {
  cursor: pointer !important;
  background: #333;
  color: #fff;
}
.paytable {
  text-align: center;
  padding: 1% 5%;
  margin: 1% 5%;
  background: linear-gradient(to bottom, #363480, #4b0e60);
  border: 2px solid #515ba0;
  border-radius: 10px;
}

.pay-table span {
  color: #fff;
  font-size: 9px;
  font-weight: 500;
  display: block;
  text-transform: capitalize;
}
.paytable p {
  font-size: 18px;
  color: #ffd300;
  margin: 5px;
  font-weight: 600;
}
.nums_card-1 {
  padding: 2% 4%;
}
/* .nums_card-1 {
  padding: 2% 6%;
} */
.nums_block {
  border-radius: 0px 0px 10px 10px !important;
  background: linear-gradient(to bottom, #363480, #4b0e60);
  margin-bottom: 3%;
  color: white;
  font-weight: 500;
  border: 2px solid #515ba0;
  padding: 55px 12px;
  margin: 0px auto;
  border-top: 0px;
  justify-content: center;
}

.nums_block_1 {
  background: #e2bd0b;
  background: -webkit-linear-gradient(to top, #c76e00, #f6f923);
  background: linear-gradient(to top, #c76e00, #f6f923);
  text-align: center;
  padding: 8px 5px;
  border: 2px solid silver;
  border-radius: 10px 0px 0px 10px !important;
  cursor: pointer;
}
.nums_block_1 i {
  font-size: 22px;
  line-height: 26px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}
.nums_block_2 {
  text-align: center;
  background: #e2bd0b;
  background: -webkit-linear-gradient(to top, #c76e00, #f6f923);
  background: linear-gradient(to top, #c76e00, #f6f923);
  font-size: 26px;
  font-weight: 700;
  border: 2px solid silver;
}

.quantity {
  background: #000;
  margin: 5px;
  border: 2px solid silver;
  padding: 0px;
  line-height: 30px;
}
.nums_block_3 {
  background: #e2bd0b;
  background: -webkit-linear-gradient(to top, #c76e00, #f6f923);
  background: linear-gradient(to top, #c76e00, #f6f923);
  text-align: center;
  padding: 8px 5px;
  border: 2px solid silver;
  border-radius: 0px 10px 10px 0px !important;
  cursor: pointer;
}
.nums_block_3 i {
  font-size: 22px;
  line-height: 26px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

.btn-play {
  background: #e2bd0b;
  background: -webkit-linear-gradient(to top, #c76e00, #f6f923);
  background: linear-gradient(to top, #c76e00, #f6f923);
  border: 2px solid silver;
  /* display: block; */
  /* margin: 0px auto;
  padding: 2% 20%;
  font-size: 26px; */
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

.btn-start {
  background: #e2bd0b;
  background: -webkit-linear-gradient(to top, #c76e00, #f6f923);
  background: linear-gradient(to top, #c76e00, #f6f923);
  border: 2px solid silver;
  padding: 1% 6%;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.btn-lines {
  background: #de002d;
  background: -webkit-linear-gradient(to top, #c76e00, #f6f923);
  background: linear-gradient(to top, #151515, #5f5d5d);
  border: 1px solid silver;
  padding: 6px 6%;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
  z-index: 9999;
  margin: 8px 0px;
  border-radius: 0px;
}

.btn-lines:hover {
  background: linear-gradient(to top, #c76e00, #f6f923) !important;
  text-shadow: none;
}

.digit_table {
  z-index: 1;
}
.game-btn .btn:disabled:hover {
  background: #333;
  color: #fff;
  cursor: not-allowed !important;
}
.game-btn button:hover {
  cursor: pointer !important;
  background: #333;
  color: #fff;
}

.row-box_2 {
  border: 1px solid #dbdce0;
  padding: 5px;
  height: 35px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #262626;
  background: #fff;
  width: 40px;
  cursor: pointer;
}
/* .row-box_2:nth-child(2n + 1) {
  background-color: #f3f3f3;
  border-bottom: 1px solid #c1c0c0;
} */

.bingo_box {
  width: 100%;
}
.border-r {
  border-radius: 10px;
}

.bingo_box table {
  border-radius: 5px;
}

.bingo_box thead {
  font-size: 24px;
  background: #e2bd0b;
  background: -webkit-linear-gradient(to top, #c76e00, #f6f923);
  background: linear-gradient(to top, #c76e00, #f6f923);
  color: #fff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.bingo_box thead th:first-child {
  background: linear-gradient(to top, #c76e00, #f6f923);
}
.bingo_box thead th:nth-child(2n + 1) {
  background: linear-gradient(to top, #c72e00, #f6f923);
}
.tckt_id {
  font-size: 16px;
  color: #f9d501;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  padding: 5px;
  border: 2px solid #fff;
}

.star {
  width: 30px;
}
.num-display-box {
  border: 1px solid #6f76ab;
  padding: 4px;
  height: 30px;
  /* border-radius: 7px; */
  font-size: 14px;
  color: white;
  width: 30px;
}
.user-clicked-num {
  background: #e8c019;
  color: black;
}
.bingo-num {
  padding: 10px;
  background: linear-gradient(to top, #8a001c, #fc0033);
  border-radius: 50%;
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  width: 125px;
  height: 125px;
  color: #fff;
  text-align: center;
  font-family: "Lobster", cursive;
}

.bingo-num span {
  display: block;
  background: linear-gradient(to top, #d8d8d8, #ffffff);
  padding: 30px 7px;
  margin: 10px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  color: #000;
  font-weight: 800;
  letter-spacing: 2.2px;
}

.bingo-num {
  display: block;
}
/*  */

.react-countdown-clock {
  margin-left: -4%;
}
.name-display-box {
  background: #e7bc18;
  border: 1px solid #fff9f891;
  padding: 3px;
  height: 30px;
  /* border-radius: 7px; */
  font-size: 16px;
  color: white;
  width: 30px;
  font-weight: 600;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

.name-display-box:nth-child(2n + 1) {
  background: linear-gradient(to top, #c72e00, #f6f923);
}
.num-active {
  background: linear-gradient(to top, #8a001c, #fc0033);
  color: #fff;
  border: 1px solid #2e3168;
  padding: 3px;
  height: 30px;
  /* border-radius: 7px; */
  font-size: 14px;
  width: 30px;
}

#confetti {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

a.iprodev {
  line-height: normal;
  font-family: Varela Round, sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 13px;
  color: #a7aaae;
  position: absolute;
  left: 20px;
  bottom: 20px;
  border: 1px solid #a7aaae;
  padding: 12px 20px 10px;
  border-radius: 50px;
  transition: all 0.1s ease-in-out;
  text-transform: uppercase;
}
a.iprodev:hover {
  background: #a7aaae;
  color: white;
}

.win_text {
  color: #e31f5f;
  line-height: initial;
}
.win_text {
  -webkit-animation: blink 0.75s linear infinite;
  -moz-animation: blink 0.75s linear infinite;
  -ms-animation: blink 0.75s linear infinite;
  -o-animation: blink 0.75s linear infinite;
  animation: blink 0.75s linear infinite;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.bg-bingo {
  background: url("../images/congo.gif");
  /* ("https://cliply.co/wp-content/uploads/2019/08/371908020_CONFETTI_400px.gif"); */
}

/* buy_tickets-table */

.buy_tickets-table table thead tr th {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.buy_tickets-table table > tbody > tr > td {
  font-size: 14px;
}
.buy_tickets-table table > tbody > tr > td img {
  border: 1px solid #ffd587;
  padding: 1px;
  width: 80px;
}

.buy_tickets-table table > tbody > tr > td button {
  font-size: 12px;
  text-shadow: none;
  background: linear-gradient(to top, #8a001c, #fc0033);
  border: 0px;
}

.buy_tickets-table table > tbody > tr > td .input-group .not-allowed {
  cursor: not-allowed !important;
}
.input-group-btn .not-allowed {
  cursor: not-allowed !important;
}
.buy_tickets-table table > tbody > tr > td button:hover {
  background: #e7bc18;
  color: #000;
}

.buy_tickets-table table > tbody > tr > td .btn-green {
  background: #f17650;
  /* #28a745; */

  color: #fff;
  margin: 20px 0px;
  font-size: 14px;
  font-weight: 500;
}

.buy_tickets-table table > tbody > tr > td .input-group input {
  font-size: 18px;
  height: auto;
  font-weight: 700;
  color: #000;
  padding: 0px;
  text-align: center;
  line-height: 0px;
}

.nums_circle {
  width: 45px;
  height: 45px;
  background: #0aad43;
  /* orange; */
  margin: 0px auto;
  font-size: 22px;
  line-height: 45px;
  border-radius: 50px;
  font-weight: 800;
  color: #fff;
}
