@media only screen and (max-width: 1199px) {
  .tambola-info {
    width: 75%;
    margin: 0px auto;
  }
}
@media only screen and (min-width: 1199px) {
  .numdisplay .row-display {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 639px) {
}

@media only screen and (max-width: 480px) {
  .button_reset {
    padding: 0px !important;
  }
  .time {
    font-size: 25px !important;
  }

  .row-box {
    border: 1px solid #fff9f891;
    padding: 10px;
    height: 36px;
    border-radius: 7px;
    font-size: 15px;
    color: white;
    width: 36px;
    line-height: 15px;
  }
  .numbers {
    justify-content: center;
    margin: 0px auto;
  }
  h5 {
    font-size: 16px;
    line-height: 24px;
    padding: 0px 15px;
  }

  .game-startat {
    font-size: 24px;
    font-weight: 700 !important;
    font-family: "Poppins", sans-serif !important;
    color: #ea0827 !important;
  }
  .number-box {
    display: block;
    width: 35px !important;
    height: 35px !important;
    flex: none;
    font-size: 18px !important;
  }

  .draw-table > tbody > tr > td h6 {
    font-size: 10px !important;
    line-height: 16px !important;
  }

  .draw-table > tbody > tr > td h4 {
    font-size: 13px !important;
    line-height: 16px !important;
  }

  .draw-table > tbody > tr > td span {
    font-size: 12px !important;
  }

  .num-box2 {
    display: block;
    width: 22px !important;
    height: 20px !important;
    flex: none;
    font-size: 10px !important;
    line-height: 22px !important;
    border-radius: 2px !important;
    margin-bottom: 6px;
    padding: 0px 6px !important;
  }

  .draw-table > tbody > tr > td .fa-2x {
    font-size: 13px;
    line-height: 30px;
  }

  .numdisplay .row {
    justify-content: center;
  }

  .numdisplay p {
    font-size: 26px !important;
    color: white !important;
    text-align: center;
  }
  .numdisplay .row {
    /* width: 100% !important; */
    text-align: center;
    display: inline-flex;
    /* margin-left: 40px; */
  }
}
@media (min-width: 320px) and (max-width: 667px) {
  .num-box {
    border: 1px solid white !important;
    padding: 17px !important;
    height: 55px !important;
    border-radius: 7px !important;
    font-size: 16px !important;
    text-align: center !important;
    color: white !important;
  }
  .game-startat p span {
    line-height: 20px;
    font-size: 24px !important;
  }
  .paytable {
    margin: 1% 0px !important;
  }
  .bingo-num {
    margin: 0px auto;
  }

  .bingo-num span {
    padding: 35px 7px !important;
    margin: 5px !important;
    width: 95px !important;
    height: 95px !important;
  }
  .btn-play {
    font-size: 19px !important;
  }
  .paytable img {
    width: 50px !important;
  }
  .tambola-start .game-details {
    font-weight: 100;
    font-size: 9px !important;
  }
}
