body {
  flex: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  margin: 0px;
  height: 100%;
}

.bought {
  margin: 0px auto;
  display: block;
  text-align: center;
  margin: 10px 0px;
}

.game-card {
  background: linear-gradient(to bottom, #001563, #e0d4a7);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 8px 12px -10px rgba(0, 0, 0, 0.5);
}
.game-table {
  margin-top: 10px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0px;
  border-top: 1px solid hsl(0deg 0% 100% / 10%);
}
.head {
  padding-top: 2%;
}
.game-table .table thead > tr > th {
  border: 0px !important;
}

.game-table thead th {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  color: #fff;
  cursor: pointer;
}

.game-table thead th:hover {
  background-color: rgba(247, 236, 140, 0.3);
}

.game-table td,
.game-table th {
  padding: 0.45rem;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
}

.numbers {
  width: 100%;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 0px;
}
.numbers span {
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  display: block;
  padding: 1.6px;
  line-height: 33px;
  margin: 1.7px;
  font-weight: 700;
  text-align: center;
  float: left;
  cursor: pointer;
}
.numbers span:hover {
  background-color: rgba(247, 236, 140, 0.3);
}
.rank {
  position: absolute;
  float: right;
  right: -24px;
  top: 96px;
  display: inline-grid;
  cursor: pointer;
}

.rank span {
  transform: rotate(-90deg);
  display: table-caption;
  padding: 2px;
  margin: 5px;
  font-weight: 700;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  font-size: 15px;
}

.single-number {
  position: absolute;
  left: -5px;
  top: 140px;
  cursor: pointer;
}

.single-number::before {
  content: "";
  position: absolute;
  background: hsla(0, 0%, 100%, 0.46);
  width: 1px;
  height: 80px;
  left: -2px;
  top: -60px;
  transform: rotate(40deg);
}

.single-number::after {
  content: "";
  position: absolute;
  background: hsla(0, 0%, 100%, 0.46);
  width: 1px;
  height: 80px;
  left: -2px;
  top: 1px;
  transform: rotate(-40deg);
}
.text-danger {
  color: red !important;
}
.text-dark {
  color: #000 !important;
}
.text-green {
  color: green !important;
  font-weight: 700;
  font-size: 16px;
}

.btn-primary {
  background-color: #3f3f3f;
  border-color: #3f3f3f;
  padding-right: 8%;
  padding-left: 8%;
  margin: 10px;
  font-weight: 700;
  display: inline-block;
}

.btn-primary:hover {
  background: #000000;
  border: #000000;
}

.black-circle p {
  padding: 7px 9px;
  border-radius: 50px;
  color: #fff;
  background-color: #000;
  margin-right: 5px;
  width: 35px !important;
  height: 35px !important;
}

.red-circle {
  text-align: center;
}
.red-circle p {
  border-radius: 50px !important;
  color: #fff;
  background-color: red;
  margin-right: 5px !important;
  width: 35px !important;
  height: 35px !important;
  line-height: 35px;
  padding: 2px !important;
}
.text-box {
  width: 23%;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px !important;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  margin: 5px;
  background-color: #333;
  color: #fff;
}

.the-table {
  width: 100%;
  background: #3f3f3f;
  padding: 25px 15px;
  border-radius: 0.25rem;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 768px;
  margin: auto;
  pointer-events: all;
  box-shadow: 0 8px 12px -10px rgba(0, 0, 0, 0.5);
  top: 170px;
}
.other-numbers {
  width: 442.5px;
  position: relative;

  border: 1px solid hsla(0, 0%, 100%, 0.46);
  margin: 2px 0;
  display: flex;
  justify-content: space-evenly;
}
.other-numbers .form-check {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}
.other-numbers .form-check label {
  cursor: pointer;
  width: 100%;
  border-right: 1px solid hsla(0, 0%, 100%, 0.46);
  color: #f1f1f1;

  font-weight: 700;
}
.form-check-label {
  margin-bottom: 0;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.other-numbers .form-check input {
  position: absolute !important;
  opacity: 0;
  visibility: hidden;
}
.form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: 0.3125rem;
  margin-left: 0;
  display: none;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
button,
input {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.the-table span[for="reds"] {
  color: red;
}
.the-table span[for="blacks"] {
  color: black;
}
.all-numbers .columns {
  display: flex;
}
.all-numbers .form-check {
  position: relative;
  margin: 1px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.46);
}
.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem;
}
.all-numbers .form-check label {
  cursor: pointer;
}
.all-numbers .form-check .number-name {
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 700;
}
.game-card .dolly:before {
  content: "";
  left: -1px;
  position: absolute;
  top: -8px;
  width: 10px;
  height: 10px;
  background: #ffc107;
  border-radius: 50%;
}

/* .game-card .chip,
.game-card .dolly {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
} */
.game-card .winner-number .dolly,
.game-card .winner-number.number:before {
  display: block !important;
}
.game-card .dolly {
  position: absolute;
  width: 10px !important;
  height: 20px !important;
  display: none;
  background: #ffc107;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.number-name1 {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
}
.other-numbers .form-check label:hover {
  background-color: rgba(247, 236, 140, 0.411);
}
.all-numbers .form-check label:hover {
  background-color: rgba(255, 230, 0, 0.411);
  border-radius: 50px;
}

.chip {
  position: absolute !important;
  top: 20px;
  margin: 0px auto;
  display: block;
  margin-left: 20px;
}

.chip-2 {
  position: absolute !important;
  top: 9px;
  margin: 0px auto;
  display: block;
  left: 9px;
}
.chip-3 {
  position: absolute !important;
  top: 60px;
  margin: 0px auto;
  /* display: block; */
  margin-left: 67px;
}
.chip-4 {
  position: absolute !important;
  top: 5px;
  margin: 0px auto;
  display: block;
  left: 7px;
}
.chip-5 {
  position: absolute !important;
  top: 3px;
  margin: 0px auto;
  display: block;
  left: -2px;
}
.single-number .chip-5 {
  width: 17px;
  height: 17px;
  background-color: #000;
  border-radius: 50%;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-number .chip-5::after {
  content: "";
  width: 55%;
  height: 55%;
  border-radius: 50%;
  background: black;
  position: absolute;
  border: 2px solid red;
}
.game-card .chip {
  width: 17px;
  height: 17px;
  background-color: #000;
  border-radius: 50%;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-numbers .chip-2 {
  width: 17px;
  height: 17px;
  background-color: #000;
  border-radius: 50%;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-numbers .chip-5 {
  width: 17px;
  height: 17px;
  background-color: #000;
  border-radius: 50%;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-card .chip-3 {
  width: 17px;
  height: 17px;
  background-color: #000;
  border-radius: 50%;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rank .chip-4 {
  width: 17px;
  height: 17px;
  background-color: #000;
  border-radius: 50%;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rank .chip-4:after {
  content: "";
  width: 55%;
  height: 55%;
  border-radius: 50%;
  background: black;
  position: absolute;
  border: 2px solid red;
}
.game-card .chip-3:after {
  content: "";
  width: 55%;
  height: 55%;
  border-radius: 50%;
  background: black;
  position: absolute;
  border: 2px solid red;
}
.all-numbers .chip-2:after {
  content: "";
  width: 55%;
  height: 55%;
  border-radius: 50%;
  background: black;
  position: absolute;
  border: 2px solid red;
}
.game-card .chip:after {
  content: "";
  width: 55%;
  height: 55%;
  border-radius: 50%;
  background: black;
  position: absolute;
  border: 2px solid red;
}
.w-50 {
  width: 50% !important;
}
.all-numbers .columns {
  display: flex;
}
.all-numbers .number-zero .form-check {
  border: none !important;
  margin: 2px;
  position: relative;
}
/* wheel */
.wheel {
  position: relative;
  left: 15%;
  top: 35%;
  /* top: 28% !important; */
  transform: rotate(-150deg);
  /* width: 50% !important;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transform: rotate(-154.661deg); */
  height: 300px;
}

.spinner-wheel canvas {
  width: 55%;
  height: 55%;
  /* position: absolute; */
  top: 35%;
  left: 33%;
}
.eSwYtm {
  -webkit-user-drag: none;
  position: absolute;
  z-index: 6;
  width: 10% !important;
  right: 110px !important;
  top: 112px !important;
}
.arrow {
  width: 40px;
  transform: rotate(265deg);
  position: absolute;
  /* left: 7%; */
  left: 5%;
  /* top: 43.5%; */
  top: 44.5%;
  z-index: 99;
}

.wheel-stand {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  left: 5%;
}

.wheel-stand .wheel-box .ball-track {
  /* width: 180px;
  height: 180px; */
  width: 210px;
  height: 210px;
  background: transparent;
  border-radius: 50%;
  border: 5px solid #caa37a;
}

.wheel-stand .wheel-box {
  /* width: 200px;
  height: 200px; */
  border: 10px solid #2b1804;
  border-radius: 50%;
  background: #2b1804;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wheel-stand .r-wheel .wheel-inner {
  width: 100px;
  height: 100px;
  background: #4b230b;
  overflow: hidden;
  z-index: 2;
  border: 2px solid #f8bd5f;
}

.wheel-stand .r-wheel,
.wheel-stand .r-wheel .wheel-inner {
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;

  align-items: center;
}

.r-wheel .wheel-inner:before {
  content: "";
  position: absolute;
  z-index: 1;
}

.wheel-stand .r-wheel ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /* width: 175px; */
  width: 185px;
  height: 175px;
  position: relative;
  /* transform: scale(0.9) rotate(254deg); */
  transform: scale(1.1) rotate(254deg);
}

.wheel-stand .r-wheel ul .number {
  width: 8px;
  height: 87.5px;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 0;
  left: calc(50% - 8px);
  transform-origin: 50% 100%;
  background-color: transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  /* border-top: 87.5px solid #000; */
  border-top: 85.5px solid #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-family: "Open Sans", sans-serif !important;
}

.wheel-stand .r-wheel ul .number:nth-child(1) {
  transform: rotate(9.72973deg);
}

.wheel-stand .r-wheel ul .number:nth-child(2) {
  transform: rotate(19.45946deg);
}

.wheel-stand .r-wheel ul .number:nth-child(3) {
  transform: rotate(29.18919deg);
}

.wheel-stand .r-wheel ul .number:nth-child(4) {
  transform: rotate(38.91892deg);
}

.wheel-stand .r-wheel ul .number:nth-child(5) {
  transform: rotate(48.64865deg);
}

.wheel-stand .r-wheel ul .number:nth-child(6) {
  transform: rotate(58.37838deg);
}

.wheel-stand .r-wheel ul .number:nth-child(7) {
  transform: rotate(68.10811deg);
}

.wheel-stand .r-wheel ul .number:nth-child(8) {
  transform: rotate(77.83784deg);
}

.wheel-stand .r-wheel ul .number:nth-child(9) {
  transform: rotate(87.56757deg);
}

.wheel-stand .r-wheel ul .number:nth-child(10) {
  transform: rotate(97.2973deg);
}

.wheel-stand .r-wheel ul .number:nth-child(11) {
  transform: rotate(107.02703deg);
}

.wheel-stand .r-wheel ul .number:nth-child(12) {
  transform: rotate(116.75676deg);
}

.wheel-stand .r-wheel ul .number:nth-child(13) {
  transform: rotate(126.48649deg);
}

.wheel-stand .r-wheel ul .number:nth-child(14) {
  transform: rotate(136.21622deg);
}

.wheel-stand .r-wheel ul .number:nth-child(15) {
  transform: rotate(145.94595deg);
}

.wheel-stand .r-wheel ul .number:nth-child(16) {
  transform: rotate(155.67568deg);
}

.wheel-stand .r-wheel ul .number:nth-child(17) {
  transform: rotate(165.40541deg);
}
.wheel-stand .r-wheel ul .number:nth-child(18) {
  transform: rotate(175.13514deg);
}

.wheel-stand .r-wheel ul .number:nth-child(19) {
  transform: rotate(184.86486deg);
}

.wheel-stand .r-wheel ul .number:nth-child(20) {
  transform: rotate(194.59459deg);
}

.wheel-stand .r-wheel ul .number:nth-child(21) {
  transform: rotate(204.32432deg);
}

.wheel-stand .r-wheel ul .number:nth-child(22) {
  transform: rotate(214.05405deg);
}

.wheel-stand .r-wheel ul .number:nth-child(23) {
  transform: rotate(223.78378deg);
}

.wheel-stand .r-wheel ul .number:nth-child(24) {
  transform: rotate(233.51351deg);
}

.wheel-stand .r-wheel ul .number:nth-child(25) {
  transform: rotate(243.24324deg);
}

.wheel-stand .r-wheel ul .number:nth-child(26) {
  transform: rotate(252.97297deg);
}

.wheel-stand .r-wheel ul .number:nth-child(27) {
  transform: rotate(262.7027deg);
}

.wheel-stand .r-wheel ul .number:nth-child(28) {
  transform: rotate(272.43243deg);
}

.wheel-stand .r-wheel ul .number:nth-child(29) {
  transform: rotate(282.16216deg);
}

.wheel-stand .r-wheel ul .number:nth-child(30) {
  transform: rotate(291.89189deg);
}

.wheel-stand .r-wheel ul .number:nth-child(31) {
  transform: rotate(301.62162deg);
}

.wheel-stand .r-wheel ul .number:nth-child(32) {
  transform: rotate(311.35135deg);
}

.wheel-stand .r-wheel ul .number:nth-child(33) {
  transform: rotate(321.08108deg);
  border-top-color: black;
}

.wheel-stand .r-wheel ul .number:nth-child(34) {
  transform: rotate(330.81081deg);
}

.wheel-stand .r-wheel ul .number:nth-child(35) {
  transform: rotate(340.54054deg);
}

.wheel-stand .r-wheel ul .number:nth-child(36) {
  transform: rotate(350.27027deg);
}
.wheel-stand .r-wheel ul .number:nth-child(37) {
  transform: rotate(1turn);
}
.wheel-stand .r-wheel ul .number .pit {
  color: #fff;
  width: 13px;
  display: inline-block;
  font-size: 9px;
  transform: scaleY(1.5);
  position: absolute;
  top: -83.8px;
  left: -7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: 600;
  right: 5px;
}
.wheel-stand .r-wheel {
  width: 175px;
  height: 175px;
}

.wheel-stand .r-wheel .wheel-inner .wheel-inner-center {
  width: 25px;
  /* 20px; */
  height: 25px;
  /* 20px; */
  background: #f8bd5f;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wheel-stand .r-wheel .wheel-inner:after {
  width: 5px;
  height: 75%;
}

.wheel-stand .r-wheel .wheel-inner:after,
.wheel-stand .r-wheel .wheel-inner:before {
  content: "";
  position: absolute;
  z-index: 1;
}
.wheel-stand .r-wheel .wheel-inner:before {
  height: 5px;
  width: 75%;
}

.wheel-stand .r-wheel .wheel-inner .wheel-inner-center:before {
  content: "";
  width: 8px;
  /* 5px; */
  height: 8px;
  /* 5px; */
  background: #563409;
  position: absolute;
  z-index: 2;

  border-radius: 50%;
}

.r-ball {
  position: absolute;
  width: 125px;
  height: 135px;
}
.r-ball:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.r-ball.rotate-left {
  animation: 3s ballRotateLeft infinite linear;
  -moz-animation: 3s ballRotateLeft infinite linear;
  -webkit-animation: 3s ballRotateLeft infinite linear;
}
.r-ball.rotate-right {
  animation: 3s ballRotateRight infinite linear;
  -moz-animation: 3s ballRotateRight infinite linear;
  -webkit-animation: 3s ballRotateRight infinite linear;
}

.rotate {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media screen and (min-width: 320px) and (max-width: 568px) {
  .arrow {
    width: 40px;
    transform: rotate(265deg);
    position: absolute;
    /* left: 7%; */
    left: 3% !important;
    /* top: 43.5%; */
    top: 30% !important;
    z-index: 99;
  }
  .game-card {
    overflow: hidden;
  }
  .spinner-wheel canvas {
    width: 80% !important;
    height: 80% !important;
  }

  /* .mobile-sm {
    overflow-x: hidden;
    display: block;
  } */
  .bJCmFu {
    position: relative;
    width: 80vw !important;
    max-width: 305px !important;
    height: 80vw !important;
    max-height: 305px !important;
    object-fit: contain;
    flex-shrink: 0;
    z-index: 5;
    pointer-events: none;
  }

  .head h1 {
    font-size: 24px;
  }

  .head h2 {
    font-size: 20px;
    margin-top: 5px;
  }

  .bought h4 {
    font-size: 20px;
  }

  .bought h4 span {
    font-size: 24px;
    font-weight: 600;
  }

  .wheel {
    height: 220px;
    position: relative;
    left: 7%;
    top: 30% !important;
    /* margin: 0px auto; */
    width: 200px;
  }
  .eSwYtm {
    -webkit-user-drag: none;
    position: absolute;
    z-index: 6;
    width: 8% !important;
    right: 45px !important;
    top: 48px !important;
    transform: rotate(2deg);
  }

  .game-table thead > tr > th {
    font-size: 11px;
    padding: 6px;
    font-weight: 500;
  }
  .numbers span {
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    border: 1px solid hsla(0, 0%, 100%, 0.46);
  }

  .single-number {
    top: 93px;
  }
  .single-number span {
    font-size: 12px;
    left: 5px;
    top: -4px;
    position: relative;
  }

  .single-number::before {
    content: "";
    position: absolute;
    background: hsla(0, 0%, 100%, 0.43);
    width: 1px;
    height: 52px;
    left: 5px;
    top: -14px;
    transform: rotate(40deg);
  }

  .single-number::after {
    content: "";
    position: absolute;
    background: hsla(0, 0%, 100%, 0.43);
    width: 1px;
    height: 50px;
    left: 5px;
    top: 25px;
    transform: rotate(-40deg);
  }

  .game-table td,
  .game-table th {
    border: 1px solid hsla(0, 0%, 100%, 0.56);
  }

  .game-table thead th {
    border: 1px solid hsla(0, 0%, 100%, 0.56);
  }

  .game-table {
    border: 1px solid hsla(0, 0%, 100%, 0.56);
  }

  .rank span {
    font-size: 9px;
    font-weight: 500;
    padding: 2px 2px;
  }
  .rank {
    float: right;
    right: -10px;
    top: 81px;
  }
  .chip {
    position: absolute !important;
    top: 21px;
    margin: 0px auto;
    display: block;
    margin-left: 7px;
  }
  .chip-2 {
    position: absolute !important;
    top: 4px;
    margin: 0px auto;
    display: block;
    left: 0px;
  }
  .chip-3 {
    position: absolute !important;
    top: 58px;
    margin: 0px auto;
    /* display: block; */
    margin-left: 25px;
  }
  .chip-4 {
    position: absolute !important;
    top: 1px;
    margin: 0px auto;
    display: block;
    left: 3px;
  }
  .all-numbers .chip-2 {
    width: 12px;
    height: 12px;
    background-color: #000;
    border-radius: 50%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 360px) and (max-width: 374px) {
  .spinner-wheel canvas {
    width: 80% !important;
    height: 80% !important;
  }
  .arrow {
    width: 40px;
    transform: rotate(265deg);
    position: absolute;
    left: 2% !important;
    /* left: 5%; */
    /* top: 43.5%; */
    top: 30% !important;
    z-index: 99;
  }
  .mobile-sm {
    overflow-x: hidden;
    display: block;
  }
  .bJCmFu {
    position: relative;
    width: 80vw !important;
    max-width: 305px !important;
    height: 80vw !important;
    max-height: 305px !important;
    object-fit: contain;
    flex-shrink: 0;
    z-index: 5;
    pointer-events: none;
  }

  .head h1 {
    font-size: 24px;
  }

  .head h2 {
    font-size: 20px;
    margin-top: 5px;
  }

  .bought h4 {
    font-size: 20px;
  }

  .bought h4 span {
    font-size: 24px;
    font-weight: 600;
  }

  .wheel {
    height: 220px;
    position: relative;
    left: 7%;
    top: 30%;
    margin: 0px auto;
    width: 200px;
  }
  .eSwYtm {
    -webkit-user-drag: none;
    position: absolute;
    z-index: 6;
    width: 8% !important;
    right: 50px !important;
    top: 54px !important;
    transform: rotate(2deg);
  }

  .game-table thead > tr > th {
    font-size: 11px;
    padding: 6px;
    font-weight: 500;
  }
  .numbers span {
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    border: 1px solid hsla(0, 0%, 100%, 0.56);
  }

  .single-number {
    top: 109px;
  }
  .single-number span {
    font-size: 12px;
    left: 5px;
    top: 3px;
    position: relative;
  }

  .single-number::before {
    content: "";
    position: absolute;
    background: hsla(0, 0%, 100%, 0.43);
    width: 1px;
    height: 52px;
    left: 4px;
    top: -29px;
    transform: rotate(40deg);
  }

  .single-number::after {
    content: "";
    position: absolute;
    background: hsla(0, 0%, 100%, 0.43);
    width: 1px;
    height: 50px;
    left: 5px;
    top: 11px;
    transform: rotate(-40deg);
  }

  .game-table td,
  .game-table th {
    border: 1px solid hsla(0, 0%, 100%, 0.56);
  }

  .game-table thead th {
    border: 1px solid hsla(0, 0%, 100%, 0.56);
  }

  .game-table {
    border: 1px solid hsla(0, 0%, 100%, 0.56);
  }

  .rank span {
    font-size: 9px;
    font-weight: 500;
    padding: 2px 2px;
  }
  .rank {
    float: right;
    right: -11px;
    top: 83px;
  }
  .chip {
    position: absolute !important;
    top: 22px;
    margin: 0px auto;
    display: block;
    margin-left: 7px;
  }
  .chip-2 {
    position: absolute !important;
    top: 4px;
    margin: 0px auto;
    display: block;
    left: 2px;
  }
  .chip-3 {
    position: absolute !important;
    top: 59px;
    margin: 0px auto;
    /* display: block; */
    margin-left: 27px;
  }
  .chip-4 {
    position: absolute !important;
    top: 1px;
    margin: 0px auto;
    display: block;
    left: 3px;
  }
  .all-numbers .chip-2 {
    width: 12px;
    height: 12px;
    background-color: #000;
    border-radius: 50%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 375px) and (max-width: 410px) {
  .spinner-wheel canvas {
    width: 80% !important;
    height: 80% !important;
  }
  .arrow {
    width: 40px;
    transform: rotate(265deg);
    position: absolute;
    /* left: 7%; */
    left: 5%;
    /* top: 43.5%; */
    top: 44.5%;
    z-index: 99;
  }

  .mobile-sm {
    overflow-x: hidden;
    display: block;
  }
  .bJCmFu {
    position: relative;
    width: 80vw !important;
    max-width: 305px !important;
    height: 80vw !important;
    max-height: 305px !important;
    object-fit: contain;
    flex-shrink: 0;
    z-index: 5;
    pointer-events: none;
  }

  .head h1 {
    font-size: 24px;
  }

  .head h2 {
    font-size: 20px;
    margin-top: 5px;
  }

  .bought h4 {
    font-size: 20px;
  }

  .bought h4 span {
    font-size: 24px;
    font-weight: 600;
  }

  .wheel {
    height: 220px;
    position: relative;
    left: 7%;
    top: 40%;
    margin: 0px auto;
    width: 200px;
  }
  .eSwYtm {
    -webkit-user-drag: none;
    position: absolute;
    z-index: 6;
    width: 8% !important;
    right: 45px !important;
    top: 55px !important;
    transform: rotate(2deg);
  }

  .game-table thead > tr > th {
    font-size: 11px;
    padding: 6px;
    font-weight: 500;
  }
  .numbers span {
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    border: 1px solid hsla(0, 0%, 100%, 0.56);
  }

  .single-number {
    top: 93px;
  }
  .single-number span {
    font-size: 12px;
    left: 5px;
    top: 3px;
    position: relative;
  }

  .single-number::before {
    content: "";
    position: absolute;
    background: hsla(0, 0%, 100%, 0.43);
    width: 1px;
    height: 52px;
    left: 4px;
    top: -29px;
    transform: rotate(40deg);
  }

  .single-number::after {
    content: "";
    position: absolute;
    background: hsla(0, 0%, 100%, 0.43);
    width: 1px;
    height: 50px;
    left: 5px;
    top: 11px;
    transform: rotate(-40deg);
  }

  .game-table td,
  .game-table th {
    border: 1px solid hsla(0, 0%, 100%, 0.56);
  }

  .game-table thead th {
    border: 1px solid hsla(0, 0%, 100%, 0.56);
  }

  .game-table {
    border: 1px solid hsla(0, 0%, 100%, 0.56);
  }

  .rank span {
    font-size: 9px;
    font-weight: 500;
    padding: 2px 2px;
  }
  .rank {
    float: right;
    right: -11px;
    top: 65px;
  }
  .chip {
    position: absolute !important;
    top: 15px;
    margin: 0px auto;
    display: block;
    margin-left: 7px;
  }
  .chip-2 {
    position: absolute !important;
    top: 4px;
    margin: 0px auto;
    display: block;
    left: 2px;
  }
  .chip-3 {
    position: absolute !important;
    top: 43px;
    margin: 0px auto;
    /* display: block; */
    margin-left: 32px;
  }
  .chip-4 {
    position: absolute !important;
    top: 1px;
    margin: 0px auto;
    display: block;
    left: 3px;
  }
  .all-numbers .chip-2 {
    width: 12px;
    height: 12px;
    background-color: #000;
    border-radius: 50%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 376px) and (max-width: 424px) {
  .mobile-sm {
    overflow-x: hidden;
    display: block;
  }
  .arrow {
    width: 40px;
    transform: rotate(265deg);
    position: absolute;
    /* left: 7%; */
    left: 3% !important;
    /* top: 43.5%; */
    top: 30% !important;
    z-index: 99;
  }
  .spinner-wheel canvas {
    width: 70% !important;
    height: 70% !important;
  }
  .head h1 {
    font-size: 24px;
  }

  .head h2 {
    font-size: 20px;
    margin-top: 5px;
  }

  .bought h4 {
    font-size: 20px;
  }

  .bought h4 span {
    font-size: 24px;
    font-weight: 600;
  }

  .wheel {
    height: 220px;
    position: relative;
    left: 30%;
    top: 50%;
    width: 200px;
  }

  .eSwYtm {
    -webkit-user-drag: none;
    position: absolute;
    z-index: 6;
    width: 8% !important;
    right: 65px !important;
    top: 68px !important;
    transform: rotate(2deg);
  }

  .game-table thead > tr > th {
    font-size: 11px;
    font-weight: 500;
  }
  .numbers span {
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    border: 1px solid hsla(0, 0%, 100%, 0.56);
  }

  .single-number {
    top: 100px;
  }
  .single-number span {
    font-size: 12px;
  }

  .single-number::before {
    content: "";
    position: absolute;
    background: hsla(0, 0%, 100%, 0.6);
    width: 1px;
    height: 52px;
    left: 5px;
    top: -36px;
    transform: rotate(38deg);
  }

  .single-number::after {
    content: "";
    position: absolute;
    background: hsla(0, 0%, 100%, 0.6);
    width: 1px;
    height: 50px;
    left: 5px;
    top: 4px;
    transform: rotate(-40deg);
  }

  .game-table td,
  .game-table th {
    border: 1px solid hsla(0, 0%, 100%, 0.56);
  }

  .game-table thead th {
    border: 1px solid hsla(0, 0%, 100%, 0.56);
  }

  .game-table {
    border: 1px solid hsla(0, 0%, 100%, 0.56);
  }

  .rank span {
    font-size: 9px;
    font-weight: 500;
    padding: 2px 5px;
  }
  .rank {
    float: right;
    right: -11px;
    top: 73px;
  }
  .chip {
    position: absolute !important;
    top: 15px;
    margin: 0px auto;
    display: block;
    margin-left: 7px;
  }
  .chip-2 {
    position: absolute !important;
    top: 4px;
    margin: 0px auto;
    display: block;
    left: 2px;
  }
  .chip-3 {
    position: absolute !important;
    top: 43px;
    margin: 0px auto;
    /* display: block; */
    margin-left: 32px;
  }
  .chip-4 {
    position: absolute !important;
    top: 1px;
    margin: 0px auto;
    display: block;
    left: 3px;
  }
  .all-numbers .chip-2 {
    width: 12px;
    height: 12px;
    background-color: #000;
    border-radius: 50%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 585px) {
  .head h1 {
    font-size: 12px;
  }
  .wheel {
    position: relative;
    left: 15%;
    top: 35%;
    height: 200px;
  }
  .arrow {
    width: 40px;
    transform: rotate(265deg);
    position: absolute;
    /* left: 7%; */
    left: 5%;
    /* top: 43.5%; */
    top: 44.5%;
    z-index: 99;
  }

  .eSwYtm {
    -webkit-user-drag: none;
    position: absolute;
    z-index: 6;
    width: 8% !important;
    right: 77px !important;
    top: 77px !important;
    transform: rotate(2deg);
  }
}

@media screen and (min-width: 768px) and (max-width: 979px) {
  .head h1 {
    font-size: 24px;
  }
  .arrow {
    width: 40px;
    transform: rotate(265deg);
    position: absolute;
    /* left: 7%; */
    left: 5%;
    /* top: 43.5%; */
    top: 44.5%;
    z-index: 99;
  }
  .head h2 {
    font-size: 20px;
    margin-top: 5px;
  }

  .bought h4 {
    font-size: 20px;
  }

  .bought h4 span {
    font-size: 24px;
    font-weight: 600;
  }

  .wheel {
    height: 180px;
    position: relative;
    left: 5%;
    top: 48%;
    width: 180px;
  }
  .game-table thead > tr > th {
    font-size: 11px;
    font-weight: 500;
  }
  .numbers span {
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    border: 1px solid hsla(0, 0%, 100%, 0.56);
  }

  .single-number {
    top: 100px;
  }
  .single-number span {
    font-size: 12px;
  }

  .single-number::before {
    content: "";
    position: absolute;
    background: hsla(0, 0%, 100%, 0.6);
    width: 1px;
    height: 52px;
    left: 4px;
    top: -29px;
    transform: rotate(40deg);
  }

  .single-number::after {
    content: "";
    position: absolute;
    background: hsla(0, 0%, 100%, 0.6);
    width: 1px;
    height: 50px;
    left: 5px;
    top: 11px;
    transform: rotate(-40deg);
  }

  .game-table td,
  .game-table th {
    border: 1px solid hsla(0, 0%, 100%, 0.56);
  }

  .game-table thead th {
    border: 1px solid hsla(0, 0%, 100%, 0.56);
  }

  .game-table {
    border: 1px solid hsla(0, 0%, 100%, 0.56);
  }

  .rank span {
    font-size: 9px;
    font-weight: 500;
    padding: 2px 5px;
  }
  .rank {
    float: right;
    right: -11px;
    top: 73px;
  }
  .bJCmFu {
    position: relative;
    width: 40vw !important;
    max-width: 300px !important;
    height: 40vw !important;
    max-height: 300px !important;
    object-fit: contain;
    flex-shrink: 0;
    z-index: 5;
    pointer-events: none;
  }
  .eSwYtm {
    -webkit-user-drag: none;
    position: absolute;
    z-index: 6;
    width: 10% !important;
    right: 70px !important;
    top: 74px !important;
  }
}

@media screen and (min-width: 980px) and (max-width: 1024px) {
  .wheel {
    position: relative;
    left: 15%;
    top: 45%;
    height: 300px;
  }
}
.arrow {
  width: 40px;
  transform: rotate(265deg);
  position: absolute;
  /* left: 7%; */
  left: 5%;
  /* top: 43.5%; */
  top: 44.5%;
  z-index: 99;
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .wheel {
    position: relative;
    left: 8%;
    top: 34%;
    height: 300px;
  }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .wheel {
    position: relative;
    left: 3%;
    top: 6%;
    /* top: 28% !important; */
    transform: rotate(-150deg);
    height: 310px;
  }
}
